backend/n8n-workflow-whatsapp.json
{
  "name": "WhatsApp Bot with Google Gemini - Wedding Website",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "trigger-whatsapp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "messageId",
              "name": "messageId",
              "value": "={{ $json.body.messageId || $json.messageId }}",
              "type": "string"
            },
            {
              "id": "phoneNumber",
              "name": "phoneNumber",
              "value": "={{ $json.body.phoneNumber || $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name || $json.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email || $json.email }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $json.body.reason || $json.reason || 'General inquiry' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"CRITICAL INSTRUCTIONS - YOU MUST FOLLOW THESE RULES STRICTLY:\\n\\nYou are a customer service bot EXCLUSIVELY for WeddingWeb. You are FORBIDDEN from answering ANY questions that are NOT about WeddingWeb.\\n\\nABSOLUTE RESTRICTIONS:\\n- DO NOT answer questions about: wedding venues, photographers, caterers, florists, wedding dresses, general wedding planning, other companies, or ANY topic unrelated to WeddingWeb\\n- DO NOT provide general advice, recommendations, or information outside WeddingWeb's services\\n- DO NOT engage in conversations about topics other than WeddingWeb\\n- If asked about ANYTHING not related to WeddingWeb, you MUST respond with EXACTLY this: 'I'm here exclusively to help you with WeddingWeb wedding website services. How can I assist you with creating or managing your wedding website today?'\\n\\nONLY ALLOWED TOPICS (WeddingWeb services only):\\n- Wedding website creation and setup\\n- Guest management features\\n- RSVP functionality\\n- Photo galleries\\n- Event scheduling\\n- Pricing plans and subscriptions\\n- Demo calls and consultations\\n- Technical support for WeddingWeb platform\\n- Account management\\n- Feature explanations\\n\\nCustomer Information:\\n- Name: {{ $json.name }}\\n- Email: {{ $json.email }}\\n- Reason: {{ $json.reason }}\\n\\nResponse Rules:\\n- Maximum 3-4 sentences\\n- Friendly and professional tone\\n- Focus ONLY on WeddingWeb\\n- End by asking if they need WeddingWeb help or want to schedule a demo\\n- If the customer's question is NOT about WeddingWeb, use the exact redirect message above\\n\\nGenerate a WhatsApp message for this customer. Remember: ONLY discuss WeddingWeb services. If their inquiry is not about WeddingWeb, redirect them using the exact message specified above.\\n\\nIMPORTANT: At the end of your message, you MUST ask: 'Would you like to speak with a WeddingWeb executive? Please reply YES if you'd like us to schedule a call with you.'\\n\\nCustomer inquiry: Hi! I'm {{ $json.name }}. {{ $json.reason }}. Can you help me with information about WeddingWeb's wedding website services?\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 400,\n    \"topP\": 0.8,\n    \"topK\": 20\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\",\n      \"threshold\": \"BLOCK_MEDIUM_AND_ABOVE\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "gemini-generate",
      "name": "Generate Message with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phoneNumber }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $('Generate Message with Gemini').item.json.candidates[0].content.parts[0].text }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "url": "=https://graph.facebook.com/v18.0/875127749019884/messages",
        "method": "POST"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-credentials",
          "name": "WhatsApp API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate summary of the WhatsApp message sent\nconst messageData = $input.all()[0].json;\nconst geminiResponse = $('Generate Message with Gemini').item.json;\n\n// Extract message from Gemini response\nconst messageText = geminiResponse.candidates[0].content.parts[0].text;\n\nconst summary = `WhatsApp message sent to ${messageData.name || 'customer'}.\n\nPhone: ${messageData.phoneNumber}\nEmail: ${messageData.email || 'Not provided'}\nReason: ${messageData.reason || 'General inquiry'}\n\nMessage sent:\n${messageText}\n\nStatus: Message sent successfully via WhatsApp.\n\nNext steps: Customer can reply via WhatsApp, and you can continue the conversation.`;\n\nreturn {\n  messageId: messageData.messageId || `msg_${Date.now()}`,\n  phoneNumber: messageData.phoneNumber,\n  name: messageData.name,\n  email: messageData.email,\n  reason: messageData.reason,\n  message: messageText,\n  summary: summary,\n  status: 'sent',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "generate-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/n8n/whatsapp-summary",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $json.messageId }}\",\n  \"phoneNumber\": \"{{ $json.phoneNumber }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"status\": \"{{ $json.status }}\"\n}",
        "options": {}
      },
      "id": "send-to-backend",
      "name": "Send Summary to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/call-schedules",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Set Variables').item.json.name || 'Customer' }}\",\n  \"email\": \"{{ $('Set Variables').item.json.email || 'whatsapp-' + $('Set Variables').item.json.phoneNumber.replace(/[^0-9]/g, '') + '@weddingweb.local' }}\",\n  \"phone\": \"{{ $('Set Variables').item.json.phoneNumber }}\",\n  \"preferredDate\": \"{{ $now.toISO().split('T')[0] }}\",\n  \"message\": \"Customer inquiry via WhatsApp: {{ $('Set Variables').item.json.reason }}\",\n  \"source\": \"whatsapp-bot\"\n}",
        "options": {}
      },
      "id": "save-call-schedule",
      "name": "Save to Call Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"WhatsApp message sent successfully\",\n  \"messageId\": \"{{ $json.messageId }}\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Generate Message with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message with Gemini": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Send Summary to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary to Backend": {
      "main": [
        [
          {
            "node": "Save to Call Schedules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Call Schedules": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

